@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
    padding: 20px 0;
    
  }
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  img {
    max-width: 100%;
    height: auto;
  }